/* App.css */

/* Reset some default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Apply background image to the entire page */
body {
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

/* Set background image for the body */
body::before {
  content: '';
  background-image: url('../public/images/background.jpg'); /* Adjusted path */
  background-size: cover;
  background-position: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Style for the main title */
h1 {
  font-size: 3em;
  font-family: 'Your Chosen Font', sans-serif;
  margin-bottom: 20px;
}

/* Style for the buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 40px;
  margin: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the login button in the top right corner */
.login-button {
  position: absolute;
  top: 10px;
  right: 10px; /* Change left to right for top right corner */
  background-color: #333; /* Dark background color */
  color: white;
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2; /* Ensure the login button is on top of other elements */
}

/* Style for the login popup container */
.popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure the container is on top of other elements */
}
 
/* Style for the login popup */
.login-popup {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: black; /* Set text color to black */
}

/* Style for the close button in the login popup */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Center the content vertically and horizontally */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Added style to stack buttons vertically */
.app-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
