/* App.css */
/* Reset some default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden; /* Add overflow: hidden to hide any content that extends beyond the viewport */
}

body::before {
  content: '';
  background-image: url('../public/images/background.jpg'); /* Adjusted path */
  background-size: cover;
  background-position: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@font-face {
  font-family: 'DragonFont';
  src: url('../public/fonts/DragonFont.otf') format('opentype');
}

h1 {
  font-size: 4em;
  font-family: 'DragonFont', sans-serif;
  margin-bottom: 20px;
  color: black; /* Set text color to black */
}

h2 {
  font-size: 2em;
  font-family:'DragonFont', sans-serif;
  color: black; /* Set text color to black */
}

h3 {
  font-family: sans-serif;
  color: black; /* Set text color to black */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 40px;
  margin: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4); /* Darker background */
}

.login-popup {
  background: rgba(255, 255, 255, 1); /* More transparent white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-align: center;
  color: black; /* Set text color to black */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 50vw;
  box-sizing: border-box;
  border-radius: 10px; /* Add border-radius for rounded corners */
}


.app-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0; /* Set margin-top to 0 to remove any top margin */
}
