/* ProcessMap.css */

.process-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
  }

  .map-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #a2d1e7;
    border: 2px solid #132c3f; /* Changed border property */
    border-radius: 15px;
    box-shadow: 0 0 15px #132c3f;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    text-align: center;
  }
  
  .upload-image-container {
    width: 80%;
    height: 70%;
    margin-top: 20px; /* Adjust as needed */
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #a2d1e7;
    border: 2px solid #132c3f; /* Changed border property */
    border-radius: 15px;
    box-shadow: 0 0 15px #132c3f;
  }
  
  .uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px; /* Rounded border */
    cursor: pointer;
  }
  
  .map-details-container {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #a2d1e7;
    border: 2px solid #132c3f; /* Changed border property */
    border-radius: 15px;
    box-shadow: 0 0 15px #132c3f;
    padding: 10px 20px;
  }
  
  .map-details-container label {
    font-size: 1.2em;
  }
  
  .map-details-container input {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    margin-left: 10px;
  }
  
  .confirm-button,
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .controls {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .instruction-text {
    margin-top: 2px;
    font-size: 1.2em;
    text-align: center;
  }
  
  .hex-mask-label {
    margin-top: 10px;
    font-size: 1.2em;
  }
  